<!DOCTYPE html>
<html>

<head>
    <title>Email kích hoạt tài khoản RoomHub</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body
    style="margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;">
    <div style="max-width: 600px; margin: 0 auto;">
        <div style="background-color: #059669; padding: 24px; color: #ffffff;">
            <h1
                style="font-size: 24px; font-weight: 700; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;">
                Chào mừng bạn đến với RoomHub.</h1>
        </div>
        <div style="padding: 24px; background-color: #ffffff;">
            <p style="margin-top: 0; margin-bottom: 24px;">Xin chào {{name}},</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Cảm ơn bạn đã đăng ký tài khoản tại RoomHub. Để kích hoạt
                tài khoản, vui lòng sử dụng mã kích hoạt dưới đây:</p>
            <h2
                style="font-size: 24px; font-weight: 700; letter-spacing: 2px; color: #059669; line-height: 1.25; margin-top: 0; margin-bottom: 15px; text-align: center;">
                {{activationCode}}</h2>
            <p style="margin-top: 0; margin-bottom: 24px;">Vui lòng nhập mã này tại trang kích hoạt trong vòng
                5 phút.</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Nếu bạn không đăng ký tài khoản RoomHub, vui lòng bỏ qua
                email này.</p>
        </div>
        <div style="background-color: #f6f6f6; padding: 24px;">
            <p style="margin-top: 0; margin-bottom: 24px;">
                Nếu bạn có bất kỳ câu hỏi nào, đừng ngần ngại liên hệ với chúng tôi
                qua <a href="https://mail.google.com/mail/?view=cm&to=laixuanchinh@gmail.com" target="_blank"
                    style="color: #059669; text-decoration:none;">laixuanchinh@gmail.com
                </a>
            </p>
        </div>
    </div>
</body>

</html>
